* {
  margin: 0;
  padding: 0;
  font-family: 'RocknRoll One', sans-serif;
}
body {
  background: #141414;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 10px 20px;
}

a {
  text-decoration: none;
}

